<div class = "change_profile">
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
  
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    
  <% end %>
  
  <div class="profile_avatar">
    <img src="/avatars/<%=user.avatar%>.png" height="80%" alt="Ава">
  </div>
  <br>
    <%=form.file_field(:avatar)%><br><br>
  <div>
    <%= form.label 'Псевдоним', style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>
  <br>
  <div>
    <%= form.label 'Электронная почта', style: "display: block" %>
    <%= form.email_field :login, :id => "email_f" %>
  </div>
  <br>
  <div>
    <%= form.label 'Пароль', style: "display: block" %>
    <%= form.password_field :password , :class => 'password', :id => 'password_f'%>
  </div>
  <br>
  <div>
    <%= form.submit('Изменить', :class => "btn btn-outline-dark") %>
  </div>
  </div>
<% end %>
