<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Редактировать данные", edit_user_path(@user) %> |
  <%= link_to "Назад", home_aut_path %>
  <br>
  <%= button_to "Удалить страницу", @user, method: :delete, :class => "btn btn-outline-danger" %>
</div>
