<h3 class = "singer_category" >Исполнители</h3>
        <%count = 0%>
        <%Singer.all.each do |singer|%>
            <div class="singer">
                <%=form_with url: singers_profile_path, method: :get do |form|%>
                    <div class = "form_singer">
                        <%=form.hidden_field :name, value: singer[:name]%>
                        <div class = "SingerIcon">
                        <%if File.exist?("/home/amigo/Study/Yaip/player/public/singer_avatars/#{singer[:name].gsub(' ', '_')}.png")%>
                            <%=form.submit :type => :image, :src => "/singer_avatars/#{singer[:name].gsub(' ', '_')}.png", :class => "SingerIcon"%>
                        <%else%>
                            <%=form.submit :type => :image, :src => "/singer_avatars/base_singer.png", :class => "SingerIcon"%>
                        <%end%>
                        </div>
                        <%=form.submit(singer[:name], :class => 'btn btn-outline-warning') %>
                    </div>
                <%end%>
            </div>
            <%count+=1%>
        <%end%>