<h3 class = "song_category">Новинки</h3>
        <%count = 0%>
        <%Song.all.reverse.each do |song|%>
            <div class="song" id ="song_number_<%=count%>">
                <p><%=song[:name]%></p>
                <audio
                controls
                src="/music/<%=song[:name].gsub(' ', '_')%>.mp3" id="number_<%=count%>" onplay="onplayer(<%=count%>)">
                    Your browser does not support the 
                    <code>audio</code> element.
                </audio>
                <%=form_with url: adding_path do |form|%>
                <%=form.hidden_field :song_id, value: song[:id] %>
                <%=form.submit('Добавить', :class => 'btn btn-outline-dark')%>
                <%end%>
            </div>
            <%count+=1%>
        <%end%>
        <br>