<div class="lib">
    <div class="all_my_songs" id = "all_my_songs">
    <h3 class = "lib_category">Библиотека</h3>
        <%count = 0%>
        <% @music.reverse.each do |song|%>
            <div class="song" id ="song_number_<%=count%>">
                <p><%=song[:name]%></p>
                <audio controls src="/music/<%=song[:name].gsub(' ', '_')%>.mp3" id="number_<%=count%>" onplay="onplayer(<%=count%>)">
                </audio>
                <%=form_with url: deleting_path do |form|%>
                <%=form.hidden_field :song_id, value: song[:id] %>
                <%=form.hidden_field :count, value: count %>
                <%=form.submit 'Удалить',  :class => "btn btn-outline-danger"%>
                <%end%>
            </div> 
            <%count += 1%>
        <%end%>
        <br><br>
    </div>
    <div class="playlists">
        <h3 class = "playlists_category">Плейлисты</h3>
        <%@user.playlists.each do |playlist|%>
        <%=form_with url: edit_playlist_path, method: :get do |form|%>
            <%=form.hidden_field :name, value: playlist[:name]%>
            <%=form.hidden_field :playlist_id, value: playlist[:id]%>
            <%=form.submit(playlist[:name], :class => "btn btn-outline-dark btn_playlist")%>
            <%end%>
        <%end%>
        <br>
        <%=link_to 'Создать плейлист', creating_playlist_path, :class => "create_playlist"%>
    </div>
    <%=link_to 'Загрузить песню', load_path, :class => "download_song"%>
    <%=link_to 'Назад', home_aut_path, :class => "back"%>
</div>

