<h3>Создание плейлиста</h3>
<%=form_with url: creating_playlist_after_path do |form|%>
  <%=form.label('Название') %>
  <%=form.text_field :name%>
  <%=form.submit('Создать')%>
<%end%>
<br>
<%=form_with url: adding_playlist_path, method: :get do |form|%>
<%=link_to "Назад", library_path, data: {'turbo-method' => :post}%>
<%end%>
