<div class="body_home">
    <div class="home_new_songs" id="home_new_songs">
        <h3>Новинки</h3>
        <%count = 0%>
        <%Song.all.reverse.each do |song|%>
            <div class="song" id ="song_number_<%=count%>">
                <p><%=song[:name]%></p>
                <audio
                controls
                src="/music/<%=song[:name].gsub(' ', '_')%>.mp3" id="number_<%=count%>" onplay="onplayer(<%=count%>)">
                    Your browser does not support the 
                    <code>audio</code> element.
                </audio>
                <%=form_with url: adding_path do |form|%>
                <%=form.hidden_field :song_id, value: song[:id] %>
                <%=form.submit('Добавить', :class => 'btn btn-outline-success')%>
                <%end%>
            </div>
            <%count+=1%>
            <%break if count == 10%>
        <%end%>
        <br>
        <%=form_with url: extra_new_songs_path do |form|%>
        <%=form.hidden_field :check, value: "songs" %>
        <%=form.submit("Ещё", :class=>"btn btn-link")%>
        <%end%>
    </div>

    <div class="singers" id="singers">
    <h3>Исполнители</h3>
        <%count = 0%>
        <%Singer.all.each do |singer|%>
            <div class="singer">
                <%=form_with url: singers_profile_path, method: :get do |form|%>
                    <%=form.hidden_field :name, value: singer[:name]%>
                    <div class = "SingerIcon">
                    <%if File.exist?("/home/amigo/Study/Yaip/player/public/singer_avatars/#{singer[:name].gsub(' ', '_')}.png")%>
                        <%=form.submit :type => :image, :src => "/singer_avatars/#{singer[:name].gsub(' ', '_')}.png", :class => "SingerIcon"%>
                    <%else%>
                        <%=form.submit :type => :image, :src => "/singer_avatars/base_singer.png", :class => "SingerIcon"%>
                    <%end%>
                    </div>
                    <%=form.submit(singer[:name], :class => 'btn btn-outline-warning')%>
                <%end%>
                <br><br><br>
            </div>
            <%count+=1%>
            <%break if count == 5%>
        <%end%>
        <br>
        <%=form_with url: extra_new_songs_path do |form|%>
        <%=form.hidden_field :check, value: "singers" %>
        <%=form.submit("Ещё", :class=>"btn btn-link")%>
        <%end%>
    </div>
</div>

