<h3>Загрузка песни:</h3>
<%=form_with url: after_load_path do |form|%>
    <%=form.label('Исполнитель:')%>
    <%=form.text_field :singer%><br><br>
    <%=form.label('Файл (формат mp3)')%><br><br>
    <%=form.file_field(:song)%><br><br>
    <%=form.submit('Загрузить', :class => "btn btn-info")%>
<%end%>
<br>
<%=flash[:notice]%><br><br>
<%=link_to "Назад", library_path%>